.search-route-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #181818;
}

.search-movies-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 165px;
  padding-left: 0;
  padding-top: 32px;
  padding-bottom: 90px;
}

@media screen and (max-width: 767px) {
  .search-movies-list {
    margin: 0 32px;
    padding-top: 24px;
  }
}

.loader-container {
  margin: auto;
}

.failure-view-container,
.empty-view-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.failure-vew-image,
.empty-view-image {
  width: 370px;
}

@media screen and (max-width: 767px) {
  .failure-vew-image,
  .empty-view-image {
    width: 230px;
  }
}

.failure-view-heading,
.empty-view-heading {
  margin: 32px 0 24px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 767px) {
  .failure-view-heading,
  .empty-view-heading {
    margin-top: 24px;
    font-size: 16px;
  }
}

.try-again-btn {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #171f46;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}

@media screen and (max-width: 767px) {
  .try-again-btn {
    line-height: 24px;
    padding: 8px 24px;
  }
}
